@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans','Bebas', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(to top, #000000 0%, #1A0E01 100%);
    width: 100%;
}